
.container{
    position: absolute;
    text-align: center;
    color: black;
    
}
#text{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#image{
    display: flex;
    justify-content: center;
}

img{
    width: 1260px;
    height: 600px;   
    
}

body {
        font-family: 'Press Start 2P';
        font-size: 25px; 
        color: black;
       
    }

