

#text{
    font-family: 'Press Start 2P';
    color: black;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .Namebutton{
    position: absolute;
    display:inline-block;
    width:65%;
    margin-top:35%;
    text-align:right;

  }
  

    .logo{
      position:absolute;
      margin-left: 1350px;
      margin-top: 10px;
    }

    .ship{
      position:absolute;
      margin-left: -20px;
      margin-top: 270px;
    }

  #b1 {

    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 45%;
    width: 4.5%;
    right: 40%;
    transform: translateX(1800%);
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    
    } 

   

